/* Base reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #252323;
  color: #111;
}

#root {
  min-height: 100vh;
}
